<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>9</string>
					<key>EndingLineNumber</key>
					<string>8</string>
					<key>StartingColumnNumber</key>
					<string>3</string>
					<key>StartingLineNumber</key>
					<string>8</string>
					<key>Timestamp</key>
					<string>735958229.911586</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>my_pod_kit/my_pod_kit.docc/my_pod_kit.md</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>Topics</string>
				<key>leading</key>
				<string>&lt;!--@START_MENU_TOKEN@--&gt;Text&lt;!--@END_MENU_TOKEN@--&gt;

## </string>
				<key>trailing</key>
				<string>

### &lt;!--@START_MENU_TOKEN@--&gt;Group&lt;!--@END_MENU_TOKEN@--&gt;
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>9</string>
					<key>StartingColumnNumber</key>
					<string>9</string>
					<key>StartingLineNumber</key>
					<string>8</string>
					<key>Timestamp</key>
					<string>735958250.323332</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>my_pod_kit/my_pod_kit.docc/my_pod_kit.md</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>
</string>
				<key>leading</key>
				<string>&lt;!--@START_MENU_TOKEN@--&gt;Text&lt;!--@END_MENU_TOKEN@--&gt;

## Topics</string>
				<key>trailing</key>
				<string>
### &lt;!--@START_MENU_TOKEN@--&gt;Group&lt;!--@END_MENU_TOKEN@--&gt;

</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
